name: CI

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main


jobs:
  run-test:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - name: Git clone
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'maven'

      - name: Get list of changed files
        run: |
          BASE=$(git merge-base origin/$GITHUB_HEAD_REF origin/main)

          echo "LIST_OF_CHANGED_FILES=$(git diff --name-status $BASE..origin/$GITHUB_HEAD_REF) |
            awk '{if($1 ~ /^R/) print "R\t"$3; else print $1"\t"$2}' | tr '\n' ';' | tr '\t' '=')" >> $GITHUB_ENV
      - name: Maven test
        run: mvn test
        env:
          BROWSER_OPTIONS_CHROME: --remote-allow-origins=*;--disable-gpu;--no-sandbox;--disable-dev-shm-usage;--headless=new;--window-size=1920,1080
          RUN_CI: true
