name: CI

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main


jobs:
  run-test:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - name: Git clone
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'maven'

      - name: Get list of changed files
        run: |
          CHANGED=$(git diff --diff-filter=ACMRT --name-only origin/$GITHUB_HEAD_REF $(git merge-base origin/$GITHUB_HEAD_REF origin/main) | tr '\n' ';')
          DELETED=$(git diff --diff-filter=D --name-only origin/$GITHUB_HEAD_REF $(git merge-base origin/$GITHUB_HEAD_REF origin/main) | tr '\n' ';')
          echo "CHANGED_TEST_FILES=$CHANGED" >> $GITHUB_ENV
          echo "DELETED_TEST_FILES=$DELETED" >> $GITHUB_ENV
          echo "Changed files: $CHANGED"
          echo "Deleted files: $DELETED"

      - name: Maven test
        run: mvn test
        env:
          BROWSER_OPTIONS_CHROME: --remote-allow-origins=*;--disable-gpu;--no-sandbox;--disable-dev-shm-usage;--headless=new;--window-size=1920,1080
          RUN_CI: true
